@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #E4F4FD;
    font-family: "Plus Jakarta Sans", sans-serif;
}

main {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 16px;
}

.mortage-calculator {
    background-color: white;
    width: 100%;
    padding: 24px;
}

.results-wrapper {
    background-color: #133041;
    width: 100%;
}


.mortage-header {
    display: flex;
    margin-bottom: 40px;
    text-align: left;
    flex-direction: column;
}

.amount-input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.term-and-interest-wrapper {
    display: flex;
    margin-bottom: 24px;
    
}

.term {
    margin-right: 8px;
}

.term-and-interest-wrapper input {
    width: 100%;
}

.mortage-type {
    margin-bottom: 40px;
    
}

.type {
    display: flex;
    flex-direction: column;
}

/* style */

.title {
    color: #133041;
    font-size: 24px;
    font-weight: 700;
    line-height: 125%;
}

.global-titles {
    margin-bottom: 12pxx;
}

.clear-all {
    text-decoration: underline;
    color: #4E6E7E;
    font-size: 16px;
    font-weight: 500;
}

.mortage-titles {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #4E6E7E;
    letter-spacing: 0;
}

/* .global-style-input {
    border:  solid 1px;
    border-radius: 4px;
    padding-right: 16px;
    padding-left: 16px;
    gap: 24px;s
} */

.mortage-amount-input {
    width: 100%;
}


.radio-inputs {
    border: solid 1px black;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    border: 1px solid #6B94A8;
}

.global-input-wrapper {
    display: flex;
    border: 1px solid #6B94A8;
    background-color: #E4F4FD;
    text-align: center;
    border-radius: 4px;
}

.span-input {
    padding: 12px 16px 16px 12px;
    font-size: 18px;
    font-weight: 700;
    color: #4E6E7E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.global-input-wrapper input {
    border: none;
}

.space-input {
    margin-bottom: 12px;
}

.label-spacer {
    margin-left: 16px;
}



.no-results-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 24px 32px 24px;
    flex-direction: column;
    text-align: center;
}

.no-results-title {
    font-weight: 700;
    font-size: 24px;
    color: white;
    margin-top: 10px;
    margin-bottom: 16px;
}

.no-results-text {
    color: #9ABED5;
    font-weight: 500;
    font-size: 16px;
}

.results {
    padding: 32px 24px 32px 24px;
}

.results-title {
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-bottom: 16px;
    line-height: 150%;
}

.results-paragraph {
    font-size: 16px;
    color: #9ABED5;
    font-weight: 500;
    line-height: 150%;
}

.results-data {
    display: flex;
    flex-direction: column;
    background-color: #102434;
    justify-content: center;
    margin: 0px 24px 32px 24px;
    padding-top: 24px;
    padding-left: 16px;
    padding-bottom: 24px;
    padding-right: 16px;
    border-radius: 8px;
}

.border-bottom {
    height: 1px;
    width: 100%;
    color: #9ABED540;
    background-color: #9ABED540;
    margin-bottom: 16px;
}

.your-monthly-repayment {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #9ABED5;
    margin-bottom: 8px;
}

.total-monthly {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    color: #D8DB2F;
    margin-bottom: 16px;
}

.total-overterm-pounds {
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: white;
}








.hidden {
    display: none;
}


@media screen and (min-width: 1024px) {
    main {
        flex-direction: row;
        margin-top: 128px;
        overflow: hidden;
    }
    .term-and-interest-wrapper {
        flex-direction: column;
    }
}